*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
   }




.card{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    padding-top: 70px;
    border-radius: 10px;

    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{

    transform: 10px;
    box-shadow: 10px 20px;
}