.parent{
    display: flex;
    gap: 200px;
    padding: 20px   ;
    margin: 20px;
    background-color: rgb(182, 105, 9);
    flex-wrap: wrap ;
    
    
}


.child1{
    background-color: rgb(15, 25, 29);
    color: blueviolet;
    padding: 25px;
    

}




.child1 button{
    margin-left:30px;
}

.child2{
    background-color: rgb(9, 14, 16);
    color: blueviolet;
    padding:35px;
    

}




.child2 button{
    margin-left:20px;
}

.child3{
    background-color: rgb(12, 20, 23);
    color: blueviolet;
    padding:25px;
    

}




.child3 button{
    margin-left:20px;
}
.child4{
    background-color: rgb(12, 15, 16);
    color: blueviolet;
    padding:25px;
    

}




.child4 button{
    margin-left:20px;
}
.child5{
    background-color: rgb(25, 29, 30);
    color: blueviolet;
    padding:25px;
    

}




.child5 button{
    margin-left:30px;
}
.child6{
    background-color: rgb(16, 19, 20);
    color: blueviolet;
    padding:25px;
    

}




.child6 button{
    margin-left:30px;
}


.child7{
    background-color: rgb(23, 25, 27);
    color: blueviolet;
    padding:25px;
    

}




.child7 button{
    margin-left:30px;
}
.child8{
    background-color: rgb(18, 20, 20);
    color: blueviolet;
    padding:25px;
    

}




.child8 button{
    margin-left:30px;
}



